# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Denote all files that are truly binary and should not be modified.
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
